/* Asphalt Theme by Akuity */

:root {
    --sidebar-background: #32201b;
    --page-and-panel-background: #f0ece8;
    --button-primary: #7d7370;
    --button-secondary: #7d7370;
    --button-disabled: #968f8c;
    --primary: #01894d;
  }

  .sidebar,
  .nav-bar {
    background: var(--sidebar-background);
  }

  .page__content-wrapper {
    background: var(--page-and-panel-background) !important;
  }

  .sliding-panel__header,
  .sliding-panel__body {
    background: var(--page-and-panel-background) !important;
  }

  /* primary */
  .argo-button--base,
  .argo-button--base:hover {
    background: var(--button-primary) !important;
  }

  .argo-button--base:hover {
    background: var(--button-primary) !important;
    opacity: 0.8 !important;
  }

  /* secondary */
  .argo-button--base-o {
    color: var(--button-primary) !important;
    box-shadow: inset 0 0 0 1px var(--button-primary) !important;
  }

  .argo-button--base-o:hover,
  .argo-button--base-o:focus {
    background: var(--button-secondary) !important;
    color: #fff !important;
    box-shadow: inset 0 0 0 1px var(--button-secondary) !important;
  }

  /* disabled */
  .argo-button.disabled,
  .argo-button[disabled] {
    background: var(--button-disabled) !important;
  }

  a,
  /* title of the each item in list in settings page */
  .settings-overview__redirect-panel__title,
  .selected,
  .top-bar__title {
    color: var(--primary) !important;
  }

  .tabs__indicator {
    background: var(--primary) !important;
  }

  .nav-bar__logo img,
  .sidebar__logo img {
    content: url(https://assets.website-files.com/613658193a97c8a9e51ed56a/6140a7bdb20c296e2b09b8be_treinta.svg);
  }
