# Terraform
**/.terraform
.tfstate.*

# Python
.venv
__pycache__

# Ruby
vendor
.bundle
inspec.lock

# Sops
.gnupg

# OPA
addons/policies/deprek8ion/
addons/policies/instrumenta/
addons/policies/portefaix

# Ansible
./roles
iac/k3s/roles/rancher
